<div class="card">
  <div class="card-header">
    Video
  </div>
  <div class="card-block">

    <div class="row">
      <video width="100%" height="auto" controls>
		<%# if (@video.system_name == "iOS" && @video.app_version >= "2.5.0") || (@video.system_name == "Android" && @video.app_version >= "2.02.0") %>
			<!-- <source src="<%= @video.presigned_get_url %>" type="video/mp4"> -->
		<%# else %>
			<source src="<%= @video.incident_video_url %>" type="video/mp4">
		<%# end %>
        <track label="Show MPH" kind="captions" srclang="en" src="<%= subtitles_video_path(@video,:format=>:vtt) %>" default>
        
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="card-footer text-center">
      <%= simple_form_for @video, :html => { :class => 'form-search' } do |f| %>
          <%= f.association :status %>
          <%= f.submit "Update Status", class: "btn btn-primary"  %>
      <% end %>
  </div>
</div>
