<%- if is_company_admin? %>

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6 dashboard-item">
          <%= link_to accidents_path do %>
            <%= render partial: 'dashboard_item', locals: {title: 'Accidents', icon: "fa-shield", color: "bg-secondary" } %>
          <% end %>
        </div>
        <div class="col-lg-6 dashboard-item">
          <%= link_to videos_path do %>
            <%= render partial: 'dashboard_item', locals: {title: 'Videos', icon: "fa-video-camera", color: "bg-secondary" } %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 dashboard-item">
          <%= link_to users_path do %>
            <%= render partial: 'dashboard_item', locals: {title: 'Users', icon: "fa-users", color: "bg-secondary" } %>
          <% end %>
        </div>
        <% if current_user && current_user.is_admin %>
          <div class="col-lg-6 dashboard-item">
            <%= link_to companies_path do %>
              <%= render partial: 'dashboard_item', locals: {title: 'Companies', icon: "fa-building", color: "bg-secondary" } %>
            <% end %>
          </div>
        <% else %>
          <div class="col-lg-6 dashboard-item">
            <%= link_to company_path(current_company) do %>
              <%= render partial: 'dashboard_item', locals: {title: 'Account', icon: "fa-building", color: "bg-secondary" } %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if current_user && current_user.is_admin %>
        <div class="row">
          <div class="col-lg-6 dashboard-item">
            <%= link_to reports_path do %>
              <%= render partial: 'dashboard_item', locals: {title: 'Reports', icon: "fa-file-text", color: "bg-secondary" } %>
              <% end %>
          </div>
          <div class="col-lg-6 dashboard-item">
            <%= link_to settings_path do %>
              <%= render partial: 'dashboard_item', locals: {title: 'Settings', icon: "fa-shield", color: "bg-secondary" } %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <%= render partial: 'dashboard_item', locals: {title: 'Accidents Reported', icon: "fa-car", value: @accident_count, color: "bg-primary" } %>
        </div>
        <div class="col-lg-6">
          <%= render partial: 'dashboard_item', locals: {title: 'Videos Recorded', icon: "fa-video-camera", value: @video_count, color: "bg-primary" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= render partial: 'dashboard_item', locals: {title: 'App Users', icon: "fa-users", value: @user_count, color: "bg-primary" } %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6 dashboard-item">
          <%= link_to my_profile_path(current_user) do %>
            <%= render partial: 'dashboard_item', locals: {title: 'Your Profile', icon: "fa-user", color: "bg-primary" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>