<div class="col-lg-4 offset-lg-4">
  <div class="card m-t-3">
    <div class="card-header text-center">
    <% if params[:edit_action].present? %>
      <h3>Set Password</h3>
    <% else %>
      <h3>Password Reset</h3>
    <% end %>
      <p><%= @user.display_name %>, please enter and confirm a new password.</p>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">
          <% if @user.errors.any? %>
            <div class="error_messages">
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
    
          <%= simple_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
            <% if params[:edit_action].present? %>
                <%= f.submit "Set Password", class: "btn btn-primary block full-width m-b" %>
              <% else %>
                <%= f.submit "Update Password", class: "btn btn-primary block full-width m-b" %>
              <% end %>      
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
