<div class="card">
  <div class="card-header">
    Events 
    <div class="pull-right">
      <%= paginate @user_events %>
    </div>
    
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Time</th>
          <th>Event Type</th>
          <th>Description</th>
          <th>Additional Information</th>
        </tr>
      </thead>
      <tbody>
        <% @user_events.each do |user_event| %>  
          <tr>
            <td><%= user_event.event_time.strftime("%d/%m/%Y %H:%M:%S") %></td>
            <td><%= user_event.event_type != nil ? user_event.event_type.name : user_event.event_type_const %></td>            
            <td><%= user_event.event_type != nil ? user_event.event_type.description : "Unknown" %></td>            
            <td><%= user_event.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @user_events %>
    
  </div>
</div>