<div class="card">
  <div class="card-header">
    Device Information
  </div>
  <div class="card-block">

    <div class="row">
      <div class="col-xs-3 col-md-3">
  		  <strong>Device Model</strong>
  		  <p><%= @user_device.device_model %></p>        
      </div>

      <div class="col-xs-3 col-md-3">
  		  <strong>App Version</strong>
  		  <p><%= @user_device.app_version %></p>        
      </div>
      <div class="col-xs-3 col-md-3">
  		  <strong>System Version</strong>
  		  <p><%= @user_device.system_name %> - <%= @user_device.system_version %></p>
      </div>
      <div class="col-xs-3 col-md-3">
  		  <strong>Added</strong>
  		  <p><%= @user_device.created_at.strftime("%e %B %Y at %I:%M %p") %></p>
      </div>

    </div>
  </div>
</div>