<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @period.name %>
</p>

<p>
  <strong>Event type const:</strong>
  <%= @period.period_const %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
