<div class="card">
  <div class="card-header">
    <strong>License Information</strong>
    <%- if current_user.is_admin %>
      <div class="pull-right">
        <% if @user.is_admin
            button_text = "Remove Super User"
            message_text = "Are you sure you wish to remove Super User permissions from this user?"
          else
            button_text = "Grant Super User"
            message_text = "Are you sure you wish to grant Super User permissions to this user?\n\nWARNING:\nThis will give them permission over all registered companies!"
          end
        %>
        <%= link_to button_text, toggle_super_user_user_path(@user), class: "btn btn-danger btn-rounded btn-sm", data: { confirm: message_text } %>
      </div>
    <% end %>
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>License Code</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Permissions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.company_users.where(company_id: @user.company_id).each do |company_user| %>
          <tr>
            <td><%= company_user.license_code %></td>
            <td><%= company_user.start_date %></td>
            <td><%= company_user.end_date %></td>
            <td>
              <%= !company_user.nil? && company_user.is_company_admin ? '<span class="btn btn-info btn-rounded btn-sm">Admin</span>'.html_safe : "" %>
              <%= @user.is_admin ? '<span class="btn btn-danger btn-rounded btn-sm">Super User</span>'.html_safe : "" %>
            </td>            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>