<div class="card text-center">
  <div class="card-header">
    <a data-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">
        <%= @active_search != true ? "Show" : "" %> User Search
    </a>
    <div class="pull-right">
      <%= link_to raw("<i class='fa fa-file-excel-o'></i>"), search_users_path(params.permit!.merge(format: 'csv', paged: "false")) %>
    </div>
  </div>
  <div class="collapse <%= @active_search == true ? "show" : "" %>" id="collapseExample" >
  
  	<%= search_form_for [@search], url: search_users_path, method: :get, :builder => SimpleForm::FormBuilder do | f | %>
      <div class="card-block">
          <div class="row">
            <div class="col-md-4">
              <%= f.input :surname_cont, label: "Surname", placeholder: "Surname", :required => false %>
            </div>
            <div class="col-md-4">
              <%= f.input :forename_cont, label: "Forename", :placeholder => "Forename", :required => false %>
            </div>
            <div class="col-md-4">
              <%= f.input :vehicle_registration_cont, label: "Vehicle Registration", :placeholder => "Vehicle Registration", :required => false %>
            </div>
          
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :created_at_gteq, label: "Start date", placeholder: "Start date", :required => false, :input_html => { :class =>  'datepicker' } %>
            </div>
            <div class="col-md-4">
              <%= f.input :created_at_lteq, label: "End date", :placeholder => "End date", :required => false, :input_html => { :class =>  'datepicker' } %>
            </div>
            <div class="col-md-4">
              <%= f.input :promo_code_cont, label: "Promo Code", :placeholder => "Promo Code", :required => false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :email_cont, label: "Email", placeholder: "Email", :required => false %>
            </div>
            <div class="col-md-4">
              <%= f.input :telephone_number_cont, label: "Telephone Number", :placeholder => "Telephone Number", :required => false %>
            </div>
            <%- if current_user.is_admin %>
              <div class="col-md-4">
                <%= f.input :company_id_eq,:collection => Company.all, :label_method => :name, :value_method => :id,:label => "Company" ,:include_blank => true, :required => false %>
              </div>
            <% end %>
          </div>
          <%- if current_user.is_admin %>
            <div class="row">
              <div class="col-md-4">
                <%= f.input :has_license, :collection => [['Yes - Show users with License', 1]], label: "Show users with a license", :include_blank => true, :required => false, selected: params[:q] ? params[:q][:has_license] : ''%>              
              </div>
              <div class="col-md-4">
                <%= f.input :has_iap, :collection => [['Yes - Show users with IAP', 1]], label: "Show users with IAP", :include_blank => true, :required => false, selected: params[:q] ? params[:q][:has_iap] : ''%>
              
              </div>
              <div class="col-md-4">
                <%= f.input :platform, :collection => [['iOS', 1], ['Android', 0]], label: "Platform", :include_blank => true, :required => false, selected: params[:q] ? params[:q][:platform] : ''%>
              
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
              
                <%= f.input :is_admin_true, :collection => [['Yes - Super admins only', 1], ['No - Show everyone except super admins', 0]], label: "Limit to Super Admins", :include_blank => true, :required => false, selected: params[:q] ? params[:q][:is_admin_true] : ''%>
              </div>
		  </div>
          <% end %>
          <hr />
          <div class="row">
            <div class="col-md-12 text-center">
            </div>
          </div>
      </div>
      <div class="card-footer text-muted">
      <%= link_to "Clear", request.path, class:"cancel-button" %>
        <%= f.submit "Search", :class => "btn btn-primary" %>
      </div>
  	<% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
    });
  </script>
<% end %>