<div class="card">
  <div class="card-header">
    <strong>Devices</strong>
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Device Name</th>
          <th>App Version</th>
          <th>System Version</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody>
        <% @user.user_devices.each do |user_device| %>  
          <tr>
            <td><%= link_to user_device.device_model, user_user_device_path(@user,user_device) %></td>
            <td><%= user_device.app_version %></td>
            <td><%= user_device.system_name %> - <%= user_device.system_version %></td>
            <td><%= user_device.created_at.strftime("%d-%m-%Y %I:%M %p") %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>