<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Settings</li>
  <div class="pull-right">
    <% if @setting.new_record? %>
      <%= link_to "Create", new_setting_path(@setting), class: "btn btn-primary btn-rounded btn-sm" %>
    <% else %>
      <%= link_to "Edit", edit_setting_path(@setting), class: "btn btn-primary btn-rounded btn-sm" %>
    <% end %>
  </div>
</ol>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Settings
      </div>
      <div class="card-block">
        <% if @setting.new_record? %>
          <strong>No settings found.</strong>
        <% else %>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <strong>Default Company:</strong>
              <p><%= @setting.company&.name %></p>
            </div>

            <div class="col-xs-6 col-md-6">
              <strong>Notification email:</strong>
              <p><%= @setting.notification_email %></p>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <strong>User emails enabled:</strong>
              <p><%= @setting.disable_user_emails == false ? "No" : "Yes" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
