<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active"><%= @user.display_name %></li>
  <div class="pull-right">
    <%= link_to "Change Password", change_password_my_profile_path(@user), class: "btn btn-info btn-rounded btn-sm" %>
    <%= link_to "Edit", edit_my_profile_path(@user), class: "btn btn-primary btn-rounded btn-sm" %>
  </div>
</ol>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Change Password
      </div>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= simple_form_for(@user, :url => update_password_my_profile_path, :method => :post) do |f| %>
        <div class="card-block">

          <div class="row">
          
            <div class="col-xs-6 col-md-6">
              <%= f.input :current_password %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <%= f.input :new_password %>
            </div>

            <div class="col-xs-6 col-md-6">
              <%= f.input :new_password_confirmation %>
            </div>        
          </div>
        </div>
        <div class="card-footer text-center">
          <%= f.submit "Update Password", class: "btn btn-primary btn-rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
