<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active"><%= @user.display_name %></li>
  <div class="pull-right">
    <%= link_to "Change Password", change_password_my_profile_path(@user), class: "btn btn-info btn-rounded btn-sm" %>
    <%= link_to "Edit", edit_my_profile_path(@user), class: "btn btn-primary btn-rounded btn-sm" %>
  </div>
</ol>

<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'user_information' %>
  </div>
  <div class="col-md-6">
    <%= render :partial => 'profile_details' %>
  </div>
</div>
