<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <%- if current_user && current_user.is_admin %>
    <li class="breadcrumb-item"><a href="/companies">Companies</a></li>
    <li class="breadcrumb-item active">Company</li>
  <%- else %>
    <li class="breadcrumb-item active">Account</li>
  <% end %>
  <div class="pull-right">
    <%= link_to raw("<i class='fa fa-edit'></i> Edit"), edit_company_path(@company), class: "btn btn-primary btn-rounded btn-sm" %>    
  </div>
</ol>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="text-xs-left m-b-2 pull-xs-left"><%= @company.name %></h1>
        <div class="pull-right">
          <button class="btn btn-secondary btn-rounded btn-sm"  data-toggle="modal" data-target="#importUsers"><i class="fa fa-plus"></i> Import Users</button>
        </div>

        <ul class="nav nav-tabs card-header-tabs pull-xs-left" id="company-navigation">
          <li class="nav-item">
              <a class="nav-link active" href="#details" data-toggle="tab">Details</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#users" data-toggle="tab">Users</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <%= render :partial => 'company_details' %>

        <%= render :partial => 'company_users' %>

      </div>
    </div>
  </div>
</div>


<div class="modal inmodal fade" id="importUsers" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
            <h4 class="modal-title">Import Users</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
		
  					<%= form_tag import_company_users_path(@company), multipart: true do %>
              <div class="modal-body">
              
      						<%= file_field_tag :file %>
            
              </div>

              <div class="modal-footer">
                <%= submit_tag "Import", class: "btn btn-primary" %>
                  <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              </div>
  					<% end %>
        </div>
    </div>
</div>