<div class="card">
  <div class="card-header">
    <%= @accident.videos.map(&:video_number) %> : Accident Information
    <%
      if @accident.status.status_constant == "REPORTED"
        class_name = "btn-danger"
      elsif @accident.status.status_constant == "IN_PROGRESS"
        class_name = "btn-warning"
      else
        class_name = "btn-success"
      end 
    %>
    <div class="pull-right">
      <span class="btn btn-rounded btn-sm <%= class_name %>"><%= @accident.status.name %></span>
    </div>
  </div>
  <div class="card-block">

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <strong>User:</strong>
        <p><%= link_to @accident.user.display_name, @accident.user %><p>
      </div>
      <div class="col-xs-6 col-md-6">
        <strong>Contact Number:</strong>
        <p><%= @accident.user.telephone_number %><p>
      </div>
      <div class="col-xs-6 col-md-6">
        <strong>Email Address:</strong>
        <p><%= @accident.user.email %><p>
      </div>

      <div class="col-xs-6 col-md-6">
        <strong>Company:</strong>
        <p><%= @accident.company.name %></p>
      </div>

      <div class="col-xs-6 col-md-6">
        <strong>Accident status:</strong>
        <p><%= @accident.status.name %></p>
      </div>
      <div class="col-xs-6 col-md-6">            
        <strong>Accident Occured:</strong>
        <% if @accident.videos.any? %>
          <% @accident.videos.each do |video| %>
            <p>
              <%= video.crash_detected_time.present? ? video.crash_detected_time.strftime("%e %B %Y at %I:%M %p") : @accident.created_at.strftime("%e %B %Y at %I:%M %p") %>
            </p>
          <% end %>
        <% else %>
          <p><%= @accident.created_at.strftime("%e %B %Y at %I:%M %p") %></p>
        <% end %>      
      </div>
      
      <div class="col-xs-6 col-md-6">            
        <strong>Accident Reported:</strong>
        <p><%= @accident.created_at.strftime("%e %B %Y at %I:%M %p") %></p>
      </div>
      <div class="col-xs-6 col-md-6">            
        <strong>Vehicle Registration:</strong>
        <p><%= @accident.registration_number %></p>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
      <%= simple_form_for @accident, :html => { :class => 'form-search' } do |f| %>
          <%= f.association :status %>
          <%= f.submit "Update Status", class: "btn btn-primary"  %>
      <% end %>
  </div>
</div>
