<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Accidents</li>
</ol>

<%= render :partial => 'accident_filter' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Vehicle Registration</th>
      <th>Reported On</th>
      <th>Status</th>
      <th>Company</th>
      <%- if current_user.is_admin %>
        <th>Remove</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @accidents.each do |accident| %>
      <tr>
        <td><%= accident.video&.video_number %></td>      
        <td><%= link_to accident.user.display_name, accident %></td>
        <td><%= accident.registration_number %></td>
        <td><%= time_ago_in_words(accident.created_at) %> ago</td>
        <%
          if accident.status.status_constant == "REPORTED"
            class_name = "btn-danger"
          elsif accident.status.status_constant == "IN_PROGRESS"
            class_name = "btn-warning"
          else
            class_name = "btn-success"
          end 
        %>
        <td>
          <span class="btn btn-rounded btn-sm <%= class_name %>"><%= accident.status.name %></span>
          <%= accident.user.call_on_false_alarm ? '<span class="btn btn-info btn-rounded btn-sm">Always Call</span>'.html_safe : "" %>
          
        </td>
        <td><%= accident.company.name %></td>
        <%- if current_user.is_admin %>
          <td><%= link_to "Remove", accident, method: :delete, data: { confirm: 'Are you sure you want to delete this Video recording?' }, class: "btn btn-danger btn-rounded btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @accidents %>
