<p id="notice"><%= notice %></p>

<h1>Free Periods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Period</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @free_periods.each do |free_period| %>
      <tr>
        <td><%= free_period.name %></td>
        <td><%= free_period.amount %></td>
        <td><%= free_period.period.name %></td>
        <td><%= free_period.description %></td>
        <td><%= link_to 'Show', free_period %></td>
        <td><%= link_to 'Edit', edit_free_period_path(free_period) %></td>
        <td><%= link_to 'Destroy', free_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Type', new_free_period_path %>
