<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @free_period.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @free_period.amount %>
</p>

<p>
  <strong>Period:</strong>
  <%= @free_period.period.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @free_period.description %>
</p>

<%= link_to 'Edit', edit_free_period_path(@free_period) %> |
<%= link_to 'Back', free_periods_path %>
