<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand text-center">
            <%= image_tag("4sightplus.png", :alt => "4Sight+") %>
        </li>
        <li>
        <%- if current_user %>
            <li class="<%= is_active_controller('my_profile') %>"><%= link_to "<i class='fa fa-user'></i> #{current_user.display_name}".html_safe, my_profile_path(current_user) %></li>
            
        <% end %>
        </li>          
        
				
        <li class="<%= is_active_controller('dashboard') %>"><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe, dashboard_index_path %></li>

        <%- if is_company_admin? %>
          <li class="<%= is_active_controller('accidents') %>"><%= link_to '<i class="fa fa-car"></i> Accidents'.html_safe, accidents_path %></li>
          <li class="<%= is_active_controller('videos') %>"><%= link_to '<i class="fa fa-video-camera"></i> Videos'.html_safe, videos_path %></li>
        
          <li class="<%= is_active_controller('users') %>"><%= link_to '<i class="fa fa-user"></i> Users'.html_safe, users_path %></li>

          <%- if current_user && current_user.is_admin %>
            <li class="<%= is_active_controller('companies') %>"><%= link_to '<i class="fa fa-building"></i> Companies'.html_safe, companies_path %></li>
            <li class="<%= is_active_controller('reports') %>"><%= link_to '<i class="fa fa-files-o"></i> Reports'.html_safe, reports_path %></li>
            <li class="<%= is_active_controller('messages') %>"><%= link_to '<i class="fa fa-comment-o"></i> Messaging'.html_safe, messages_path %></li>
            <li class="<%= is_active_controller('settings') %>"><%= link_to '<i class="fa fa-cogs"></i> Settings'.html_safe, settings_path %></li>        
            <li class="<%= is_active_controller('api_users') %>"><%= link_to '<i class="fa fa-code"></i> API Users'.html_safe, api_users_path %></li>        
          <%- elsif current_user %>
            <li class="<%= is_active_controller('companies') %>"><%= link_to '<i class="fa fa-building"></i> Account'.html_safe, company_path(current_company) %></li>
          <% end %>
        <% end %>

        <li><%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, logout_path, data: { turbolinks: false } %></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
