<!DOCTYPE html>
<html class="full <%= controller_name %>-page">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>4Sight+</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div id="wrapper" class="<%= current_user.nil? ? "" : "toggled" %>">
      <%= render :partial => 'layouts/sidebar' if !current_user.nil? %>

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <%= render :partial => 'layouts/navigation' %>

          <% flash.each do |name, msg| %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= msg %>
            </div>
          <% end %>
                
          <%= yield %>
      </div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
    });
    </script>

  	<%= yield :javascript %>

  </body>
</html>
